{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="index">
  <img src="/images/cinema.jpg" id="bg" alt="">

  <div class="index-container">
  <h1>Cinema <br> Ironhack</h1>
    <a href="/movies">
      <button id="index-btn">Check the movies!</button>
    </a>
  </div>
</div>
